.header_nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 100;
}
.logo {
  color: white;
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 15px;
  text-transform: uppercase;
  position: relative;
}
