.modal {
  position: absolute;
  z-index: 1000;
  right: 130px;
  background-color: transparent;
}

.btn-close {
  border: 2px solid white;
  padding: 2px 10px;
  border-radius: 100%;

  position: absolute;
  top: -27px;
  right: -20px;
  font-size: 30px;
  color: white;
  z-index: 100;
  overflow: hidden;
}
.btn-close:hover {
  opacity: 0.8;
}
