.slick-dots li.slick-active button:before {
  display: none;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
  font-size: 50px;
  left: 5px;
  z-index: 2;
  color: rgb(255, 255, 255, 0.8);
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
  font-size: 50px;

  right: 30px !important;
  z-index: 2 !important;
  color: rgb(255, 255, 255, 0.8);
}

.ant-carousel .slick-dots {
  margin-left: 0;
}
