.news {
  margin: auto;
  max-width: 940px;
}

.jss107 {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.jss108 {
    width: 70%;
    height: auto;
    border-radius: 5px;
  }

.jss113 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 16px;
}
